@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


:root{
    --header-background-color: #181935;
    --grey: #495057;
    --light-grey: #e9eaec;
    --green: #2a9d8f;
    --hr-color: #adb5bd;
    --dark-green: #287271;
    --danger: #d90429;
    --danger-hover: #9a031e;
    --warning: #fbb02d;
    --warning-hover: #ffc600
}


html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: "Manrope", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

header {
    background-color: var(--header-background-color);
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}


nav {
    display: flex;
    align-items: center;
    ul {
        list-style-type: none;
        margin: 0 5%;
        padding: 0;
        display: flex;
        align-content: center;
        align-items: center;
        li {
            margin: 0 15px;
            a {
                color: white;
                text-decoration: none;
                font-size: 20px;
                font-weight: bold;
                display: flex;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}

.main-wrapper{
    width: 75%;
    padding: 1rem 4rem;
    margin: 150px auto 5rem auto;
    border-radius: 15px;
    background: linear-gradient(145deg, #d2d3d4, #f9fafd);
    box-shadow:  20px 20px 60px #c6c7c9,
    -20px -20px 60px #ffffff;
    .portfolio-header{
        display: flex;
        justify-content: space-between;
        margin: 0 5%;
        align-items: center;
        button {
            cursor: pointer;
            font-size: 1rem;
            padding: 15px 20px;
            background-color: var(--green);
            color: white;
            border: none;
            border-radius: 15px;
            transition: all 0.3s ease;
            &:hover {
                background-color: var(--dark-green);
            }
        }
    }
    .portfolio {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        .donut {
            width: 500px;
            min-height: 60vh;
            padding-bottom: 2.5rem;
        }
    }
    hr {
        border: none;
        height: 1px;
        background-color: var(--hr-color);
    }

}

/* --- TABLE -- */

.edit-btn, .delete-btn {
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.edit-btn {
    background-color: var(--warning);
    &:hover {
        background-color: var(--warning-hover);
    }
}

.delete-btn {
    background-color: var(--danger);
    &:hover {
        background-color: var(--danger-hover);
    }
}

footer {
    display: flex;
    justify-content: center;
    padding: 2rem 0 3rem 0;
}