@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


:root{
    --header-background-color: #181935;
    --grey: #495057;
    --light-grey: #e9eaec;
    --green: #2a9d8f;
    --dark-green: #287271;
}


html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: "Manrope", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.75rem;
}

header {
    background-color: var(--header-background-color);
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}


nav {
    display: flex;
    align-items: center;
    ul {
        list-style-type: none;
        margin: 0 5%;
        padding: 0;
        display: flex;
        align-content: center;
        align-items: center;
        li {
            margin: 0 15px;
            a {
                color: white;
                text-decoration: none;
                font-size: 20px;
                font-weight: bold;
                display: flex;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}

.main-wrapper{
    width: 80%;
    padding: 1rem 3rem;
    margin: 150px auto 0 auto;
    border-radius: 15px;
    background: linear-gradient(145deg, #d2d3d4, #f9fafd);
    box-shadow:  20px 20px 60px #c6c7c9,
    -20px -20px 60px #ffffff;
    .portfolio-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
            cursor: pointer;
            padding: 10px 15px;
            background-color: var(--dark-green);
            color: white;
            border: none;
            border-radius: 10px;
            transition: all 0.3s ease;
            &:hover {
                background-color: var(--green);
            }
        }
    }
    .portfolio {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        .donut {
            width: 400px;
        }
    }

}