


div.dt-container .dt-paging .dt-paging-button.current,
div.dt-container .dt-paging .dt-paging-button.current:hover{
    border: 1px solid var(--hr-color);
    border-radius: 10px;
}

div.dt-container .dt-paging .dt-paging-button.current {
    background: var(--light-grey);
    transition: all 250ms ease-in-out;
}

div.dt-container .dt-paging .dt-paging-button.current:hover {
    background: var(--hr-color);
}

div.dt-container .dt-search input,
div.dt-container select.dt-input {
    border-radius: 5px;
}

div.dt-container {
    color: black;
    padding: 10px;
    border-radius: 15px;
}